/* Style.css */

/* إعدادات عامة */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0e0e0e;
  color: white;
  text-align: center;
}

/* الهيدر */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #121212;
  border-bottom: 1px solid #2c2c2c;
}

.Logo {
  transition: transform 0.3s ease;
}
.Logo:hover {
  transform: rotate(10deg) scale(1.1);
}

/* روابط القائمة */
.nav_links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

.nav_links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}
.nav_links a:hover {
  color: #ff4081;
}

/* الأقسام */
.name h1 {
  font-size: 2.5em;
  margin-top: 60px;
  letter-spacing: 2px;
}

/* الروابط الاجتماعية */
.Links {
  color: #00bcd4;
  font-size: 1.3em;
  text-decoration: none;
  transition: all 0.3s ease;
}

.Links:hover {
  color: #ff4081;
  text-shadow: 0 0 10px #ff4081;
}

/* تنسيق القوائم */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

/* فاصل */
hr {
  width: 60%;
  margin: 40px auto;
  border: 0;
  border-top: 1px solid #2c2c2c;
}
/* الاسم */
.name {
  color: #00bcd4;
  font-size: 1.3em;
  text-decoration: none;
  transition: all 0.3s ease;
}

.name:hover {
  color: #ff4081;
  text-shadow: 0 0 10px #ff4081;
}