@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Henny+Penny&family=Kalnia+Glaze:wght@100..700&family=Metamorphous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth; 
}

body  {
   background-color: rgb(18, 11, 30);
   color: white;
   font-family: Arial, sans-serif;
   line-height: 1.6;
   font-style: italic;
   font-display: auto;
   font-size:1vmax;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.nav_links ul  {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav_links ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}
.nav_links ul li a:hover {
    color: hsl(284, 89%, 48%);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}
    hr {
        border: 0;
        height: 1px;
        background: #ffffff;
        margin: 10px 0;
        opacity: 0.5;
    }
.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2rem 20px;
    color: aliceblue;
}

.name:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2rem 20px;
    color: hsl(284, 89%, 48%);
}

.Links {
 display: inline-block;
 background-color: rgb(11, 80, 101); 
   color: white;
   padding: 10px 20px;
border-radius: 50px; 
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 3rem 10px;
}

.Links:hover {
 display: inline-block;
 background-color: rgb(70, 24, 130); 
   color: rgb(50, 10, 10);
   padding: 10px 20px;
border-radius: 50px; 
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 3rem 10px;
    
}

.co
{
display: inline-block;
 background-color: rgb(11, 80, 101); 
   color: white;
   padding: 10px 20px;
border-radius: 50px; 
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 3rem 10px;

}

.co:hover{

display: inline-block;
 background-color: rgb(70, 24, 130); 
   color: rgb(50, 10, 10);
   padding: 10px 20px;
border-radius: 50px; 
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 3rem 10px;

}

#bgColor{
   
    font-family: Arial, sans-serif;
   line-height: 1.6;
   font-style: italic;
   font-display: auto;
   font-size:1vmax;


}